.nav-margin {
  margin-top: 100px;
  min-height: 600px;
}

.map-container {
  height: 100%;
  width: 100%;
  position: relative;
}



.info-window-content {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
  font-size: 14px;
}

.info-window-content h3 {
  margin: 0;
  padding-bottom: 5px;
  color: #007bff; 
  border-bottom: 1px solid #ddd;
  font-size: 16px;
}

.info-window-content p {
  margin: 5px 0;
}


.status-open {
  color: #28a745; 
}

.status-closed {
  color: #dc3545; 
}