$white: #ffffff;

$theme-colors: (
    "light":      #f0f0f0,
    "dark":       #120104,
    "primary":    #273c7a,
    "secondary":  #456fb1,
    "info":       #6f88ab,
    "accent1":    #46464e,
    "accent2":    #b36e66,
    "accent3":    #a5aeb6,
    "success":    #2ea264,
    "warning":    #e1cb2f,
    "danger":     #4e4b4b,
);

@import 'bootstrap/scss/bootstrap';

// Global styles
:root{
    --light-background :#ffffff;
    --dark-background :red;
}
body{
    background-color: var(--light-background);
}
.darkmode{
    --light-background :#ffffff;
    --dark-background :rgb(13, 29, 99);
}
.lightmode{
    --light-background :#ffffff;
}
body{
    background-color: var(--dark-background);
}

.pointer:hover {
    cursor: pointer;
}

.icon-btn {
    background: none;
    border: none;
    color: inherit;
    font-family: inherit;
    padding: 0 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.icon-btn svg {
    vertical-align: middle;
}